.header {
    background-color:#1D1D1D;
}
.navbar{
    border-radius: 0;
    }
.navbar-inverse{
    background-color:#222129;
    }

.header-para {
    text-align: center;
    color:white;
    border-radius: 0;
    font-family: Courier New;
    .header-span {
    color:#616161;
}
}
.header-content{
    align-content: center;
    padding:5px;
    p {
        margin:0;
    }
}


.header-links {

    text-align: left;
    padding:5px;
    a {
    .searchbar {
        color:white
        &:hover{
        color:#C70500;
        }
    }

    margin-right: 10px;
    font-family: Courier New;
    color: #C70500;
        &:hover {
            text-decoration: none;
            color:white;
        }
    }

}


.navbar-brand{
    float:right;
    font-size: 2em;
}
.follow {

    i{
        color:white;
    }
    .facebook{
     background-color:#3B5998;
    }
    .twitter{
     background-color:#1DA1F2;
    }
    .pinterest{
     background-color:#BD081C;
    }
    .vimeo{
     background-color:#13ACF2;
    }
    .youtube{
     background-color:#CC181E;
    }

}
.navbar-body {
    text-align: center;
    li {
        font-size: 0.8em;
    }
}
